html, body{
    background-color: #fff;
    /* background-color: #00ff00; */
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}
td {
    padding:0 15px 0 15px;
}

#info a {
  color: blue;
  font-weight: bold;
}

  .h-divider{
   margin-top:5px;
   margin-bottom:5px;
   height:1px;
   width:100%;
   border-top:1px solid lightgray;
}
  .v-divider{
 margin-left:5px;
 margin-right:5px;
 width:1px;
 height:100%;
 border-left:1px solid lightgray;
}
.margin-center{
  margin:auto;
}

.block-center{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.is-complete {
  text-decoration: line-through;;
}

.container_big { border:2px solid #ccc; width:600px; height: 300px; overflow-y: scroll; }

.container_medium { border:2px solid #ccc; width:450px; height: 100px; overflow-y: scroll; }

.container_small { border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll; }

.container_wide {
  border:2px solid #ccc; width:auto; height: 300px; overflow-y: scroll;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.top-left{
  position: absolute;
  left: 10px;
  top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.title-small {
    font-size: 44px;
    font-style: bold;
}
.subheader{
  font-size: 60px;
  font-style: italic;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid lightgray;
}
.v-divider{
margin-left:5px;
margin-right:5px;
width:1px;
height:100%;
border-left:1px solid lightgray;
}
.margin-center{
margin:auto;
}

/* CSS used in select */
.custom-main-display {
    border-radius: 5px;
    background-color: lightgray;

    width: 35vw;
    height: 35vh;

    padding: 10px;
    margin: 20px;

    margin: auto;

    /*display: inline-block;*/
    display: flex;
}

.custom-card {
    border-radius: 2px;

    width: 60%;
    /* height: 150px; */

    margin: 5px;

    /* display: inline-block; */
}

.custom-card--unselected {
    border: 2px solid lightgray;
}

.custom-card--selected {
    border: 4px solid gray;
}

.custom-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-select-button {
    height: 100%;
    float: left;
    width: auto;
    color: gray;

    border: none;
    background-color: transparent;

    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}

.custom-select-button:hover {
    cursor: pointer;
}

.custom-select-button:focus {
    outline: 0;
}

.custom-select-button__content {
    scale(1, 2);
}

.custom-select-list {
    width: 60%;
    /* display: inline-block; */
    display: inline-grid;
}

.custom-clickable:hover {
    cursor: pointer;
}


.model{
    position:relative;
    z-index = 0;

}

.background{
    /* style="width:650px;height:400px" */
    width:60vw;
    height:60vh;
    left:20vw;
    position:absolute;
    z-index = 1;
}

.background img{
  width:60vw;
  height:60vh;
}

.search{
    bottom: 10%;
    right: 40%;
    z-index: 5;
  }

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
