html, body{
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
td
{
    padding:0 15px 0 15px;
}

  .h-divider{
   margin-top:5px;
   margin-bottom:5px;
   height:1px;
   width:100%;
   border-top:1px solid lightgray;
}
  .v-divider{
 margin-left:5px;
 margin-right:5px;
 width:1px;
 height:100%;
 border-left:1px solid lightgray;
}
.margin-center{
  margin:auto;
}

.block-center{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.is-complete {
  text-decoration: line-through;;
}

.container_big { border:2px solid #ccc; width:600px; height: 300px; overflow-y: scroll; }

.container_medium { border:2px solid #ccc; width:450px; height: 100px; overflow-y: scroll; }

.container_small { border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll; }

.container_wide {
  border:2px solid #ccc; width:auto; height: 300px; overflow-y: scroll;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid lightgray;
}
.v-divider{
margin-left:5px;
margin-right:5px;
width:1px;
height:100%;
border-left:1px solid lightgray;
}
.margin-center{
margin:auto;
}
