

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    background: rgb(255, 0, 0);
    padding: .5em;
}

nav#a {
    color: white;
    font-weight: bold;
}

.transition-fade {
  transition: .4s;
  opacity: 1;
}

html.is-animating .transition-fade{
  opacity: 0;
}
